#root {
  display: flex;
  flex-direction: column;
}
.HolyGrail {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.HolyGrail-body {
  flex: 1;
  align-self: center;
  width: 75vw;
  text-align: center;
}
.HolyGrail-content, .result-item  {
  display: flex;
}
.HolyGrail-content {
  flex-direction: column;
  min-height: 68vh;
  justify-content: center;
}
.HolyGrail-section {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.HolyGrail-subsection {
  justify-content: center;
}

#question-container, #question-counter, #question-answers {
  margin-top: 5vh;
}

#question-container {
  border: solid grey 1px;
  padding: 70px;
  font-weight: 200;
  font-size: 22px;
}
.result-item {
  flex: 1;
  flex-direction: row;
  justify-content: left;
  padding-top: 16px;
}
#result-correction-container {
  font-size: 30px;
  width: 11px;
  margin-left: -20px;
  margin-right: 20px;
  margin-top: -7px;
}
#result-question-container {
  text-align: left;
  font-size: 12px;
}
.button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  font-weight: 900 !important;
  margin: 10px !important;
}
header, footer {
  align-self:center;
  justify-content: center;
  min-height: 10vh;
  width: 50vw;
  text-align: center;
}

footer {
  text-transform: uppercase;
}

a {
  color: white;
  text-decoration: none;
}

.loading {
  animation: App-logo-spin infinite 3s linear;
  height: 5vmin;
  pointer-events: none;
  margin-left: calc(50vw - (2.5vmin));
  margin-top: calc(50vh - (2.5vmin));
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
